{% extends "layaut.html" %}

{% block title %}Личный кабинет - {{user}}{% endblock title %}

{% block content %}
        <div class="alert alert-info">
            <h4 class="alert-heading">
                {{user.first_name}}
                {{user.last_name}} <br>
                {{user.username}} <br>
            </h4>
        </div>
        <div class="grid-only">
            <div class="tags">
                {% for tag in list_tag %}
                <div class="alert alert-light tag">
                    <a href='{% url "main:tag_detail" slug=tag.slug %}' class="alert-link">
                        {{tag}}
                    </a>
                </div>
                {% endfor %}
            </div>
            
            <div class="articles">
                {% for i in list_myarticles %}
                <div class="alert alert-{{i.color}} article" role="alert">
                    <h4>
                        <a href='{% url "main:detail" i.slug %}' class="alert-link">
                            {{i.name}}
                        </a>
                    </h4>
                    <p>{{i.tag}}</p>
                    {{i.date}}
                </div>
                {% endfor %}
            </div>
          </div>
          <a href="{% url 'main:lagaut' username=user.username%} " class="btn btn-danger">Выйти</a>
          <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" class="btn btn-success btn-a" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Создать
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="{% url 'main:createpost' %}">Статья</a>
                    <a class="dropdown-item" href="{% url 'main:createtag' %}">Тег</a>
                  </div>
                </div>
              </div>
    </div>
{% endblock content %}