{% extends "layaut.html" %}

{% block title %}{{article.name}}{% endblock  %}

{% block content %}
    <div class="alert alert-{{article.color}}" role="alert">


        </small>
        <h4 class="alert-heading">
                {{ article.name }}</h4> <p>{{ article.tag }}</p> </small> <hr>
{{ article.html_text | safe}} <hr>
        Автор: {{article.author.username}}
        </div>
    {% if request.user.is_authenticated %}
    <form method='post' action='{% url "main:createcomment" slug=model.slug %}'>
	{% csrf_token %}
      	<input type="text" name="commentbody" class="form-control">
        <input type='submit' class='btn btn-info' value='Написать комментарий'>
    </form>
    {% else %}
    <a class="btn btn-info" href="{% url "main:login"%}">Войти</a>
    {% endif %}
    {% for coment in coments  %}
        <hr>
        <div class="alert alert-{{article.color}}" style="width:500px;">
            <h6 class="alert-heding">{{coment.author.username}}</h6>
            <hr>
            {{coment.text}}
        </div>
        
    {% endfor %}
{% endblock %}

{% block admin %}
    <a href="{% url 'main:delete' slug=article.slug %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'main:update' slug=article.slug %}" class="btn btn-info">Update</a>
{% endblock admin %}
